<style type="text/css">
 
</style>

<h1 style="text-align:center;height:45px;border-bottom:1px solid black;">About Us</h1>

<div style="width: 80%; height: 200px; margin:auto;display:block;padding-right:10%;">
<%= image_tag 'AboutPageTestApp.png' %>
</div>
<div class="textzone">
  <h2><%= link_to 'Go to Homepage', root_path %></h2>
<div class="column firstcolumn">
<div class="paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque auctor mattis bibendum. In condimentum neque sed odio pretium, sed rhoncus ex cursus. Donec sit amet volutpat odio. In venenatis odio et justo semper, sed mattis risus placerat. Aliquam in ex interdum, faucibus lectus vitae, sagittis elit. Nam sit amet odio fermentum lacus maximus consequat nec at sem. Pellentesque vitae augue eget elit tincidunt venenatis. Suspendisse consequat rhoncus lectus nec eleifend. Aliquam dignissim augue non euismod porttitor. Quisque massa mi, scelerisque aliquet volutpat non, efficitur ut massa. Phasellus lacinia rutrum arcu. Suspendisse eu purus non mauris sagittis lacinia. Integer ac pretium orci, at pharetra quam.</div>

<div class="paragraph">Quisque tempor lacinia mauris a congue. Sed sit amet eros id urna dignissim aliquet. Cras commodo mollis vehicula. Phasellus auctor a orci sit amet tristique. Mauris porta sed ex et mattis. Morbi dignissim nibh non velit suscipit maximus. Fusce laoreet nulla a eros varius maximus. Nunc ac nibh sem. Ut orci risus, ornare sed cursus pellentesque, pharetra faucibus est. Nam in arcu massa.</div>

<div class="paragraph">Donec rutrum felis in gravida mollis. Morbi eu augue ornare lorem sollicitudin maximus non non ante. Duis non odio vitae lectus volutpat bibendum. Aenean et tempus lorem. Donec imperdiet dui vel odio venenatis varius. Proin sapien diam, venenatis a tempus a, efficitur nec arcu. Suspendisse non libero orci. Proin lectus felis, fringilla at faucibus et, aliquet non diam. Vestibulum porttitor mattis interdum. Aenean ac egestas ipsum, eget pellentesque purus. Etiam maximus nisl a dui laoreet mollis sollicitudin eget diam. Suspendisse potenti. Vivamus ac lectus bibendum dolor tempus molestie sed eget lorem.</div>
</div>

<div class="column">
<div class="paragraph">Ut in risus euismod, laoreet nisi vel, sagittis dolor. Curabitur sapien urna, convallis ac mauris tempus, mollis volutpat est. Fusce at nulla condimentum, aliquam ligula a, varius nulla. Phasellus id rhoncus nisl. Integer sit amet auctor metus. Cras viverra quis risus nec malesuada. Sed nisl tellus, porta a leo id, laoreet lobortis orci. Etiam et fringilla ligula, a vulputate dolor. Nunc ullamcorper iaculis mollis. Duis nec nibh ac turpis ultricies vulputate. Sed sollicitudin augue libero, at efficitur massa posuere vel. Quisque id nisl cursus, porttitor ante sit amet, blandit metus. In aliquet nibh felis, nec lacinia lorem rutrum id.</div>

<div class="paragraph">Integer porttitor dignissim nulla, sit amet convallis lacus cursus ut. Suspendisse potenti. Vestibulum porttitor metus non arcu vestibulum, vitae volutpat purus ullamcorper. Curabitur lobortis quam vel ante facilisis, condimentum pharetra diam porta. Nam convallis convallis turpis eget pharetra. Etiam vitae elit et eros suscipit vehicula. Sed eget nisl fringilla, tristique tellus id, aliquet nibh. Cras eget erat at arcu iaculis congue in quis quam. Maecenas suscipit leo nec velit ultricies, gravida malesuada eros tincidunt. Nullam egestas vel nibh ac mattis. Ut at porttitor lectus. Aenean egestas bibendum lacus, vel pretium lorem rhoncus vehicula. Fusce varius sapien et lectus tempor gravida. Fusce a blandit odio. Phasellus augue tortor, pharetra sit amet tempor sit amet, aliquam id dui.</div>
</div>
</div>